#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #bfbebf;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #545454;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #000000;
    color: white;
  }

  #controler {
    text-align:center;
  }
  .icons {
    height: 16px;
    width: 16px;
    margin: left 2px;
    margin-right:2px ;
  }
  body {
    background: linear-gradient(to right,#1e55b5,#2575fc,#727272);
}